* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --calculator-bg-color: rgba(255, 255, 255, 0.548);
    --operator-bg-color: #000000d2;
    --operator-txt-color: rgb(255, 255, 255);
    --num-bg-color: #ffffffbd;
    --num-txt-color: #000;
    --equl-bg-color: #fec820;
    --equl-bg-color-d: #f0bb1e;
    --main-border: #eee;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--operator-txt-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--equl-bg-color);
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--equl-bg-color-d);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.image {
    background-image: url(img/wallpapersden.com_minimal-artistic-desert-sunset_5760x3240.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.calculator {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    width: 400px;
    background-color: var(--calculator-bg-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 400px;
    grid-template-areas: "screen screen screen screen" "buttons buttons buttons buttons";
    -webkit-transform: translate(-50%, -50%) scale(1.2);
    -moz-transform: translate(-50%, -50%) scale(1.2);
    -ms-transform: translate(-50%, -50%) scale(1.2);
    -o-transform: translate(-50%, -50%) scale(1.2);
}

.calculator .screen {
    position: relative;
    grid-area: screen;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 20px 20px;
    width: 100%;
    font-size: 35px;
    overflow: auto;
    font-family: Menlo, Monaco, "Courier New", Courier, monospace;
    font-weight: bold;
}

.calculator .screen .opration {
    display: flex;
    width: 200px;
    position: relative;
}

.calculator .screen .result {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 45px;
}

.calculator .buttons {
    grid-area: buttons;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: " c c ÷ × " " seven eight nine plus " " four five six min " " one two three equal " " zero zero dot equal ";
}

.calculator .buttons .C {
    grid-area: c;
    /* border-top-left-radius: 20px; */
    background-color: var(--operator-bg-color);
    color: var(--operator-txt-color);
}

.calculator .buttons .del {
    grid-area: del;
}

.calculator .buttons .÷ {
    grid-area: ÷;
}

.calculator .buttons .dot {
    grid-area: dot;
}

.calculator .buttons .× {
    grid-area: ×;
    /* border-top-right-radius: 20px; */
}


.calculator .buttons .seven {
    grid-area: seven;
}

.calculator .buttons .eight {
    grid-area: eight;
}

.calculator .buttons .nine {
    grid-area: nine;
}

.calculator .buttons .plus {
    grid-area: plus;
}


.calculator .buttons .four {
    grid-area: four;
}

.calculator .buttons .five {
    grid-area: five;
}

.calculator .buttons .six {
    grid-area: six;
}

.calculator .buttons .min {
    grid-area: min;
}


.calculator .buttons .one {
    grid-area: one;
}

.calculator .buttons .two {
    grid-area: two;
}

.calculator .buttons .three {
    grid-area: three;
}

.calculator .buttons .equal {
    grid-area: equal;
}

.calculator .buttons .zero {
    grid-area: zero;
    border-bottom-left-radius: 20px;
}

.calculator .buttons .point {
    grid-area: point;
}

.calculator .buttons div {
    padding: 10px;
    text-align: center;

    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.calculator .buttons div:active {
    border: 1px solid var(--main-border);
}

.calculator .buttons .num {
    background-color: var(--num-bg-color);
    color: var(--num-txt-color);
}

.calculator .buttons .num:hover {
    background-color: #fff;
}

.calculator .buttons .operator {
    background-color: var(--operator-bg-color);
    color: var(--operator-txt-color);
}


.calculator .buttons .equal {
    background-color: var(--equl-bg-color);
    color: var(--operator-txt-color);
    border-bottom-right-radius: 20px;
}

.calculator .buttons .equal:hover {
    background-color: #ffbe3f;
}

.calculator .buttons .operator:hover,
.calculator .buttons .C:hover {
    background-color: #000000;
}

@media (max-width: 530px) {
    .calculator {
        width: 100%;
        top: unset;
        left: unset;
        grid-template-rows: 200px 50vh;
        border-radius: 0;
        bottom: 0;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .calculator .buttons div {
        border-radius: 0 !important;
    }
}